<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WatchMates</title>
    <link href="https://unpkg.com/video.js/dist/video-js.min.css" rel="stylesheet">
    <link rel="stylesheet" href="resources/css/styleRoom.css">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
</head>

<body>
    <audio src="messageSound.mp3" class="audioFile"></audio>
    <div class="header">
        <label class="toggleOne">
            <input id="toggleButtonOne" type="checkbox">
            <span class="roundButton"></span>
        </label>
        <label class="toggleTwo">
            <input id="toggleButtonTwo" type="checkbox">
            <span class="roundButton"></span>
        </label>
    </div>
    <div class="overlay-toggleOne hidden">Ambilight</div>
    <div class="overlay-toggleTwo hidden">Nachrichten stummschalten</div>
    <div class="room">
        <div class="playlist">
            <div class="playlist-header">
                <label class="playlist-upload-button-label">
                    <input type="file" id="siofu_input" />
                    <img src="uploadIcon.png" alt="Icon" class="uploadIcon">
                </label>
                <span class="playlist-header-title">Playlist</span>
            </div>
            <ul class="playlist-body"></ul>
        </div>
        <video id="my-player" class="video-js" width="1080px" height="480px">
            <source id="video-source" src="//vjs.zencdn.net/v/oceans.mp4" type="">
            </source>
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video>
        <div class="diashowContainer hidden" width="1080px" height="480px">
            <img class="imageID" src="" alt=""></img>
        </div>
        <div class="chat">
            <div class="chat-header">
                <img src="arrowIcon.png" alt="Icon-Arrow" class="chat-header-icon" />
                <div class="chat-header-title disabled">Chat</div>
            </div>
            <div class="chat-body">
                <div class="chat-messages"></div>
            </div>
            <div class="chat-footer">
                <input class="typeField" type="text" disabled>
                <img src="sendIcon.png" alt="Icon-Send" class="chat-footer-icon" />
            </div>
        </div>
        <img src="arrowIcon.png" alt="Icon" class="chat-icon hidden" />
    </div>
    <input class="nickname" type="text" placeholder="Gebe zuerst einen Nicknamen ein">
    <div class="copyTheURL">
        <p class="copy">Kopiere die URL, um Freunde einzuladen</p>
    </div>
    <div class="footer">
        <span class="stepOne">Lade ein Video, Bild oder Audio in die Playlist</span>
        <span class="arrow"></span>
        <span class="stepTwo">Sortiere die Playlist</span>
        <span class="arrow"></span>
        <span class="stepThree">Chattet miteinander</span>
    </div>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="/siofu/client.js"></script>
    <script src="https://unpkg.com/video.js/dist/video.min.js"></script>
    <script type="module" src="resources/js/room.js"></script>
</body>
<template id="playlistTemplate">
    <li id="playlistElement" draggable="true">
        <span class="playlist-left-body">
            <video src="" draggable="false"></video>
            <p></p>
        </span>
        <span class="playlist-right-body">
            <button class="deleteButtonPlaylist">&times</button>
        </span>
    </li>
</template>

</html>