<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WatchMates</title>
    <link rel="stylesheet" href="resources/css/styleRoom.css">
    <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
    <script src="//vjs.zencdn.net/7.10.2/video.min.js"></script>
    <script src="https://rawgit.com/atlance01/vrapp-ionic/master/www/js/lib/videojs-playlist.js"></script>
</head>

<body>
    <label class="toggle">
        <input id="toggleButton" type="checkbox">
        <span class="roundButton"></span>
    </label>
    <div class="room">
        <div class="playlist">Playlist
            <ul class= "playlistBox">

            </ul>
        </div>

        <div class="video-box">
            <p class="video-prompt">Drag&Drop</p>
            <video id="videoPlayer" class="video-js" width="640">
                <source id="videoSrc" src="resources/css/SampleVideo_1280x720_2mb.mp4" type="video/mp4">
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
        </div>

        <span class="chat disabled">Chat
            <input class="typeField" type="text" disabled>
        </span>
    </div>
    <input class="nickname" type="text" placeholder="Gebe zuerst einen Nicknamen ein">
    <div class="footer">
        <span class="stepOne">Lade ein Video, Bild oder Audio in die Playlist</span>
        <span class="arrow"></span>
        <span class="stepTwo">Sortiere die Playlist</span>
        <span class="arrow"></span>
        <span class="stepThree">Chattet miteinander</span>
    </div>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script type="module" src="resources/js/room.js"></script>
</body>

<template id="playlistTemplate">
    <li id="playlistElement" draggable="true">
        <img src="" alt="">
        <p></p>
        <button>&#9746</button>
    </li>
</template>

</html>