@import url("./variables.css");

html {
    margin: 0;
}

body {
    background-image: url("background.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-color);
}

.topBar{
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 4em auto;
    max-width: 1600px;
}

.logo{
    font-size: 50px;
    font-weight: bold;
}

.calender{
    cursor: pointer;
    background-color: transparent;
    color: var(--font-color);
    font-size: 40px;
    padding: 0.5em;
    border-radius: 18px;
    border: 3px solid var(--font-color);
}

.overlay{
    position: fixed;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 3px solid var(--font-color);
    border-radius: 18px;
    z-index: 3;
    background-color: var(--overlay-background);
    width: 500px;
    max-width: 80%;
}

.overlay.active{
    transform: translate(-50%, -50%) scale(1);
}

.overlay-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-bottom: 3px solid var(--font-color);
}

.overlay-title{
    font-size: 30px;
}

.overlay-close{
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    font-size: 25px;
    color: var(--font-color);
}

.overlay-close:hover{
    color: var(--hover-color);
}

.overlay-body{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.overlay-left-body{
    display: flex;
    flex-direction: column;
}

.overlay-right-body{
    display: flex;
    flex-direction: column;
}

.overlay-body-form{
    display: flex;
    flex-direction: column;
}

.overlay-label-date{
    padding-bottom: 0.5em;
}

.overlay-choose-date{
    width: 100%;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid var(--font-color);
}

.overlay-choose-date:hover{
    border: 2px solid var(--hover-color);
}

.overlay-label-time{
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.overlay-choose-time{
    width: 100%;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid var(--font-color);
}

.overlay-choose-time:hover{
    border: 2px solid var(--hover-color);
}

.overlay-input-error{
    display: none;
    opacity: 0;
}

.overlay-input-error.active{
    display: flex;
    padding: none;
    opacity: 1;
    color: var(--font-color);
    font-size: 15px;
}

.overlay-submit-button{
    width: 100%;
    cursor: pointer;
    background: transparent;
    border: 2px solid var(--font-color);
    border-radius: 6px;
    color: var(--font-color);
    margin-top: 0.8em;
}

.overlay-submit-button:hover{
    border: 2px solid var(--hover-color);
}

.overlay-output-explanation{
    display: none;
    opacity: 0;
}

.overlay-output-explanation.active{
    display:flex;
    opacity: 1;
    color: var(--font-color);
    font-size: 18.5px;
    margin-left: 2em;
    margin-bottom: 2em;
}

.overlay-output-link{
    display: none;
    opacity: 0;
}

.overlay-output-link.active{
    display: flex;
    opacity: 1;
    color: var(--font-color);
    font-size: 18.5px;
    margin-left: 2em;
    background: transparent;
    border: 2px solid var(--font-color);
    border-radius: 6px;
    cursor: pointer;
    justify-content: center;
    text-align: center;
}

.overlay-background{
    position: fixed;
    transition: 200ms ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.overlay-background.active{
    opacity: 1;
    pointer-events: all;
}

.middleBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 4em auto;
    max-width: 1500px;
}

.explanation {
    padding-left: 5em;
    font-size: 35px;
    text-align: center;
}

.createAndJoinRoomBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 4em auto;
    max-width: 1600px;
}

.creatingRoom{
    cursor: pointer;
    background-color: transparent;
    color: var(--font-color);
    max-width: 300px;
    justify-content: center;
    margin: 0 auto;
    padding: 0.5em;
    text-align: center;
    border-radius: 18px;
    border: 3px solid var(--font-color);
    font-size: 40px;
    text-decoration: none;
}

.joiningRoom{
    cursor: pointer;
    background-color: transparent;
    color: var(--font-color);
    max-width: 300px;
    justify-content: center;
    margin: 0 auto;
    padding: 0.5em;
    text-align: center;
    border-radius: 18px;
    border: 3px solid var(--font-color);
    font-size: 40px;
    text-decoration: none;
}

.calender:hover, .creatingRoom:hover, .joiningRoom:hover{
    border: 3px solid var(--hover-color);
}

.dropDownMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 4em auto;
}

.hidden{
    display: none;
    opacity: 0;
}

.URLTextArea{
    width: 50%;
    font-size: 30px;
    color: var(--font-color);
    background: transparent;
    border: 3px solid var(--font-color);
    border-radius: 18px;
    text-align: center;
}

.URLTextArea::placeholder{
    color: var(--placeholder-color-room);
    text-align: center;
}

.URLTextArea:hover{
    border: 3px solid var(--hover-color);
}

.closeDropDownMenu{
    cursor: pointer;
    position: relative;
    font-size: 32px;
    background-color: transparent;
    border: none;
    color: var(--font-color);
    left: -1.5%;
}

.closeDropDownMenu:hover{
    color: var(--hover-color);
}

.bottomBar{
    padding-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 4em auto;
    max-width: 1420px;
}

.stepOne, .stepTwo, .stepThree{
    font-size: 30px;
}

.arrow{
    width: 100px;
    height: 4px;
    border-radius: 4px;
    background: var(--font-color);
    position: relative;
}

.arrow:after{
    content: "";
    display: inline-block;
    border-radius: 4px;
    width: 40px;
    height: 4px;
    background: var(--font-color);
    transform: rotate(45deg);
    position: absolute;
    right: -6px;
    bottom: 13px;
}

.arrow:before{
    content: "";
    display: inline-block;
    border-radius: 4px;
    width: 40px;
    height: 4px;
    background: var(--font-color);
    transform: rotate(-45deg);
    position: absolute;
    right: -6px;
    bottom: -13px;
}