@import url("./variables.css");

html {
    margin: 0;
}

body {
    background-image: url("background.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-color);
}

.topBar {
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 4em auto;
    max-width: 1600px;
}

.logo{
    font-size: 50px;
    font-weight: bold;
}

.calender{
    background-color: transparent;
    color: var(--font-color);
    font-size: 40px;
    padding: 0.5em;
    border-radius: 18px;
    border: 3px solid var(--font-color);
}

.middleBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 4em auto;
    max-width: 1500px;
}

.explanation {
    padding-left: 5em;
    font-size: 35px;
    text-align: center;
}

.createAndJoinRoomBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 4em auto;
    max-width: 1600px;
}

.creatingRoom{
    background-color: transparent;
    color: var(--font-color);
    max-width: 300px;
    justify-content: center;
    margin: 0 auto;
    padding: 0.5em;
    text-align: center;
    border-radius: 18px;
    border: 3px solid var(--font-color);
    font-size: 40px;
}

.joiningRoom{
    background-color: transparent;
    color: var(--font-color);
    max-width: 300px;
    justify-content: center;
    margin: 0 auto;
    padding: 0.5em;
    text-align: center;
    border-radius: 18px;
    border: 3px solid var(--font-color);
    font-size: 40px;
}

.calender:hover, .creatingRoom:hover, .joiningRoom:hover{
    border: 3px solid var(--hover-color);
}

.bottomBar{
    padding-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 4em auto;
    max-width: 1500px;
}

.stepOne, .stepTwo, .stepThree{
    font-size: 30px;
}

.arrow{
    width: 100px;
    height: 4px;
    border-radius: 4px;
    background-color: var(--font-color);
    position: relative;
}

.arrow:after{
    content: "";
    display: inline-block;
    border-radius: 4px;
    width: 40px;
    height: 4px;
    background-color: var(--font-color);
    transform: rotate(45deg);
    position: absolute;
    right: -6px;
    bottom: 13px;
}

.arrow:before{
    content: "";
    display: inline-block;
    border-radius: 4px;
    width: 40px;
    height: 4px;
    background-color: var(--font-color);
    transform: rotate(-45deg);
    position: absolute;
    right: -6px;
    bottom: -13px;
}